/* MASTER STYLES */
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    /* COLOR VARIABLES */
    --color1: #b6c178;
    --color2: #d4e49f;
    --color3: #535a29;
    --color4: #949c66;
    --color5: #cdd4ac;
    --color6: #808c4c;
}

body
{
    margin: 0px;

    background-color: var(--color1);
}

/* NAV STYLES */
.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: var(--color5);
    text-transform: uppercase;
}

.nav-items
{
    display: flex;
    flex-direction: row;
}

.nav-item
{
    padding: 20px;
}

.nav-item a
{
    color: black;
    text-decoration: none;

    transition: color 0.5s;
}

.nav-item:hover
{

}

.nav-item a:hover
{
    color: var(--color3);

    transition: color 0.5s;
}

/* CONTENT STYLES */
.icons
{
    display: flex;
    flex-wrap: wrap;
}

.icon
{
    padding: 20px;
}

.icon > img
{
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.icon > .icon-background
{
    height: 100px;
    width: 250px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translate(0, -50px);

    background-color: white;

    transition: height 0.5s;
}

.icon > .icon-background:hover
{
    height: 300px;

    transition: height 0.5s;
}

.icon > h3, p
{
    width: 240px;
    transform: translate(5px, -150px);

    pointer-events: none;
}